version: '3'

networks:
  inception:
    driver: bridge  

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '/home/wmessmer/data/wordpress'
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '/home/wmessmer/data/mariadb'
  website:
    name: website
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '/home/wmessmer/data/website'

services:
  nginx:
    image: nginx
    container_name: nginx
    build:
      context: requirements/nginx
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception
    env_file:
      - .env
    restart: always

  mariadb:
    image: mariadb
    container_name: mariadb
    build: 
      context: requirements/mariadb/
    volumes:
      - mariadb:/var/lib/mysql/
    networks:
      - inception
    expose:
      - "3306"
    env_file: 
      - .env
    restart: always

  wordpress:
    image: wordpress
    container_name: wordpress
    build:
      context: requirements/wordpress
    expose:
      - "9000"
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - mariadb
    networks: 
      - inception
    env_file: 
      - .env
    restart: always

  redis:
    image: redis
    container_name: redis
    build:
      context: requirements/bonus/redis
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/html
    networks: 
      - inception
    env_file: 
      - .env
    restart: always

  ftp:
    image: ftp
    container_name: ftp
    build:
      context: requirements/bonus/ftp
    ports:
      - "21:21"
      - "15100-15110:15100-15110"
    volumes:
      - wordpress:/var/www/html
    networks: 
      - inception
    env_file: 
      - .env
    restart: always

  website:
    image: website
    container_name: website
    build:
      context: requirements/bonus/website
    ports:
      - "4242:4242"
    volumes:
      - website:/var/www/html
    networks: 
      - inception
    env_file: 
      - .env
    restart: always